<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <form [formGroup]="utilityform" (submit)="createUtility()">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">add_box</i>S
                            </div>
                            <h4 class="card-title">Add Utility</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="month" matInput id="month" placeholder="Month *"
                                            formControlName="month">
                                        <mat-error *ngIf="utility.month.errors?.required">
                                            month is <strong>required</strong>
                                        </mat-error>
                                    
                                    </mat-form-field>
                                </div>
                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="waterBill" placeholder=" Water Bill Amount*"
                                            formControlName="waterBill">
                                        <!-- <mat-error *ngIf="utility. waterBill.errors?.required">
                                            Room name is <strong>required</strong>
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="electricityBill" placeholder="Electricity Bill Amount *"
                                            formControlName="electricityBill">
                                        <!-- <mat-error *ngIf="utility.roomType.errors?.required">
                                            Room Type is <strong>required</strong>
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                
                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="otherBills" placeholder="Other Bills"
                                            formControlName="otherBills">
                                    
                                    </mat-form-field>
                                </div>
                                
                    
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="form-check mr-auto">
                            </div>
                            <button mat-raised-button type="submit" [disabled]="utilityform.invalid"
                                class="btn btn-fill btn-success">Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>