<div class="main-content">
    <div class="container-fluid">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">Search Available Rooms</h4>
            </div>
            <div class="card-body ">
                <form method="#" action="#">

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="checkInPicker" placeholder="Check In Date"
                                    (click)="checkInPicker.open()" [(ngModel)]='checkin'
                                    [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
                                <mat-datepicker #checkInPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="checkOutPicker" placeholder="Check Out Date"
                                    (click)="checkOutPicker.open()" [(ngModel)]='checkOut'
                                    [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                                <mat-datepicker #checkOutPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <button mat-raised-button type="submit" (click)="searchAvailableRooms()"
                                    class="btn btn-fill btn-sm btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let room of roomList">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a>
                            <img class="img" src="./assets/img/card-3.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a>{{room.roomName}}</a>
                        </h4>
                        <div class="card-description">
                            {{room.description}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>${{room.price}}/night</h4>
                        </div>
                        <div class="stats">
                            <p class="card-category"><i class="material-icons">people</i>Adults {{room.adults}}</p>
                            <p class="card-category"><i class="material-icons">child_care</i>Children {{room.children}}
                            </p> &nbsp;
                            <button class="btn btn-fill btn-sm btn-warning" (click)="bookRoom(room)">Book
                                now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>