<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <form >
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">add_box</i>S
              </div>
              <h4 class="card-title">Upload File</h4>
            </div>
            <div class="card-body">
              <div class="row">

                <div class=" col-md-12 mt-2">
                  <div class="text-center">
                    <input class="form-control " type="file"
                           (change)="onChange($event)">

                    <button (click)="onUpload()"
                            class="text-right btn btn-success">
                      Upload
                    </button>
                  </div>

                  <!-- Shareable short link of  uploaded file -->
                  <div class="container text-center jumbotron"
                       *ngIf="shortLink">
                    <h2> Visit Here</h2>
                    <a href="{{shortLink}}">{{shortLink}}</a>
                  </div>

                  <!--Flag variable is used here-->
                  <div class="container" *ngIf="loading">
                    <h3>Loading ...</h3>
                  </div>
                </div>

              </div>
            </div>
<!--            <div class="card-footer text-right">-->
<!--              <div class="form-check mr-auto">-->
<!--              </div>-->
<!--              <button mat-raised-button type="submit" [disabled]="itemform.invalid"-->
<!--                      class="btn btn-fill btn-success">Save-->
<!--              </button>-->
<!--            </div>-->
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
